In [1]:
import pandas as pd
import numpy as np

# Library to split data
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("../data/raw/booking_original.csv")

Divide the data set into Train,Val and test sets

In [3]:
df.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

In [4]:
df.shape

(36275, 19)

In [5]:
X=df.drop(labels=['booking_status'],axis=1)
X.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0

In [6]:
y=df['booking_status']
y.head()

0    Not_Canceled
1    Not_Canceled
2        Canceled
3        Canceled
4        Canceled
Name: booking_status, dtype: object

In [7]:
X.shape

(36275, 18)

In [8]:
# Splitting the dataset into the Training and Testing set.
X_large, X_test, y_large, y_test = train_test_split(X,y, test_size = 0.2, random_state = 42,stratify=y,shuffle = True)

# Splitting the dataset into the Training and Testing set.
X_train, X_val, y_train, y_val = train_test_split(X_large,y_large, test_size = 0.2, random_state = 42,stratify=y_large, shuffle = True)

In [9]:
print(X_train.shape)
print(X_val.shape)
print(X_test.shape)

(23216, 18)
(5804, 18)
(7255, 18)

In [10]:
X_train.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
23208,INN23209,2,1,1,3,Meal Plan 1,0,Room_Type 1,33,2018,5,9,Online,0,0,0,143.10,0
18082,INN18083,1,0,3,6,Meal Plan 1,0,Room_Type 1,2,2017,12,5,Corporate,0,0,0,91.67,0
7423,INN07424,2,0,1,3,Meal Plan 1,0,Room_Type 1,39,2018,10,24,Offline,0,0,0,85.00,0
17652,INN17653,2,0,2,2,Meal Plan 1,0,Room_Type 1,90,2018,5,7,Online,0,0,0,119.85,0
27339,INN27340,1,0,0,3,Meal Plan 1,0,Room_Type 1,71,2018,6,14,Offline,0,0,0,120.00,0

In [11]:
df2=X_train
df2['booking_status']=y_train
df2.to_csv("../data/raw/bookingcc.csv")

In [12]:
df2.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
23208,INN23209,2,1,1,3,Meal Plan 1,0,Room_Type 1,33,2018,5,9,Online,0,0,0,143.10,0,Canceled
18082,INN18083,1,0,3,6,Meal Plan 1,0,Room_Type 1,2,2017,12,5,Corporate,0,0,0,91.67,0,Not_Canceled
7423,INN07424,2,0,1,3,Meal Plan 1,0,Room_Type 1,39,2018,10,24,Offline,0,0,0,85.00,0,Not_Canceled
17652,INN17653,2,0,2,2,Meal Plan 1,0,Room_Type 1,90,2018,5,7,Online,0,0,0,119.85,0,Not_Canceled
27339,INN27340,1,0,0,3,Meal Plan 1,0,Room_Type 1,71,2018,6,14,Offline,0,0,0,120.00,0,Not_Canceled

In [13]:
df3=X_val
df3['booking_status']=y_val
df3.to_csv("../data/raw/bookingcc_new.csv")

In [14]:
df4=X_test
df4['booking_status']=y_test
df4.to_csv("../data/raw/bookingcc_score.csv")